body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  align-items: center;
  background-color: #555;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  gap: 0;
  overflow-x: hidden;
}